@font-face {
  font-family: 'Light';
  src: url(./fonts/DINNextLTPro-Light.eot);
  src: url(./fonts/DINNextLTPro-Light.eot?#iefix) format('embedded-opentype'),
       url(./fonts/DINNextLTPro-Light.woff) format('woff'),
       url(./fonts/DINNextLTPro-Light.woff2) format('woff2'),
       url(./fonts/DINNextLTPro-Light.ttf) format('truetype'),
       url(./fonts/DINNextLTPro-Light.svg#lightcond) format('svg');
}

@font-face {
  font-family: 'LightCond';
  src: url(./fonts/DINNextLTPro-LightCond.eot);
  src: url(./fonts/DINNextLTPro-LightCond.eot?#iefix) format('embedded-opentype'),
       url(./fonts/DINNextLTPro-LightCond.woff) format('woff'),
       url(./fonts/DINNextLTPro-LightCond.woff2) format('woff2'),
       url(./fonts/DINNextLTPro-LightCond.ttf) format('truetype'),
       url(./fonts/DINNextLTPro-LightCond.svg#lightcond) format('svg');
}
@font-face {
  font-family: 'Bold';
  src: url(./fonts/DINNextLTPro-Bold.eot);
  src: url(./fonts/DINNextLTPro-Bold.eot?#iefix) format('embedded-opentype'),
       url(./fonts/DINNextLTPro-Bold.woff) format('woff'),
       url(./fonts/DINNextLTPro-Bold.woff2) format('woff2'),
       url(./fonts/DINNextLTPro-Bold.ttf) format('truetype'),
       url(./fonts/DINNextLTPro-Bold.svg#lightcond) format('svg');
}
@font-face {
  font-family: 'BoldCond';
  src: url(./fonts/DINNextLTPro-BoldCond.eot);
  src: url(./fonts/DINNextLTPro-BoldCond.eot?#iefix) format('embedded-opentype'),
       url(./fonts/DINNextLTPro-BoldCond.woff) format('woff'),
       url(./fonts/DINNextLTPro-BoldCond.woff2) format('woff2'),
       url(./fonts/DINNextLTPro-BoldCond.ttf) format('truetype'),
       url(./fonts/DINNextLTPro-BoldCond.svg#lightcond) format('svg');
}
@font-face {
  font-family: 'MediumCond';
  src: url(./fonts/DINNextLTPro-MediumCond.eot);
  src: url(./fonts/DINNextLTPro-MediumCond.eot?#iefix) format('embedded-opentype'),
       url(./fonts/DINNextLTPro-MediumCond.woff) format('woff'),
       url(./fonts/DINNextLTPro-MediumCond.woff2) format('woff2'),
       url(./fonts/DINNextLTPro-MediumCond.ttf) format('truetype'),
       url(./fonts/DINNextLTPro-MediumCond.svg#lightcond) format('svg');
}
@font-face {
  font-family: 'Cond';
  src: url(./fonts/DINNextLTPro-Cond.eot);
  src: url(./fonts/DINNextLTPro-Cond.eot?#iefix) format('embedded-opentype'),
       url(./fonts/DINNextLTPro-Cond.woff) format('woff'),
       url(./fonts/DINNextLTPro-Cond.woff2) format('woff2'),
       url(./fonts/DINNextLTPro-Cond.ttf) format('truetype'),
       url(./fonts/DINNextLTPro-Cond.svg#lightcond) format('svg');
}


body {
  margin: 0;
  font-size: 13px;
  font-family: Cond, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.titulo-topbar {
  font-family: 'Roboto', sans-serif;

}

.backgroundColor {
  background: #3A8244;
}

.color {
  color: #3A8244;
}

.topbar {
  width: 100%;	
  box-shadow: inset 0 0px 0px 0 rgba(0,0,0,0.5), 0 2px 4px 0 rgba(0,0,0,0.2);
}

.topbar-icon {
  width: 75%;
}

.slider-wrapper {
  margin-top: 10%;
  margin-bottom: 109px; 
}

.control-dots {
  margin-top: 109px;
  position: relative !important;
  margin: 0px 0 !important;
  margin-top: 8% !important;
  margin-inline-start: -1.5em !important;
}

.carousel .slide {
  background: white !important;
}

.carousel .control-dots .dot {
  height: 11px !important;
  width: 11px !important;
  margin-top:8% !important;
  background: #3A8244 !important;
  box-shadow: none !important;
  margin: 0px 6px !important;
}

.carousel-control-prev {
  width: 5% !important;
}

.carousel-control-next {
  width: 5% !important;
}

.single-slide-img {
  /* padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 4em;
  padding-left: 4em;
  max-width: 30em; */
}

.mask {
	height: 38.38%;
	width: 68.27%;
	border-radius: 112px;
	background-color: #FEEE00;
}

.single-slide-title {
  font-family: 'MediumCond';
  color: #333333;
  margin-block: 0;
  text-anchor: 5px;
}

.single-slide-description {
  max-width: 30em;
}

h3 {
  font-size: 1.8em;
}

.boton {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 2em;
  padding-left: 2em;
  border-radius: 20px; 
  color: white;
  font-size: 1.2em;
  border: none;
  text-align: center;
  width: 80%;
  max-width: 50vw;
  padding: 1em, 2em, 1em, 2em;
}

.menu {
  position: absolute;
  height: 8%;
  width: 100%
}

.menu-icon {
  max-width: 3%;
  min-width: 2em;
}

.logo {
  height: 3%;
  width: 100%;
}

.logo-icon {
  max-width: 4rem;
  min-width: 2.7em;
  width: 35%;
}

.toolbar-element {
  margin-top: 0.7rem;
  margin-bottom: 0.6rem;
}

.toolbar-images {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-height: 3em;
}

.toolbar-text {
  font-size: calc(0.6em + 1vw);
  margin-top: 2%;
}

.item-container {
  text-align: center;
}

.fondo {
  -webkit-box-shadow: 0px 0px 19px -1px rgba(133,133,133,0.67);
  -moz-box-shadow: 0px 0px 19px -1px rgba(133,133,133,0.67);
  box-shadow: 0px 0px 19px -1px rgba(133,133,133,0.67);
}

.search-input {
  font: 'Roboto' !important;
  padding: 5% !important;
  border: none !important;
  border-radius: 4px !important;
  width: 100% !important;
}

.react-dropdown-select-input {
  font-size: 15px!important;
}

.react-dropdown-select-dropdown {
  padding-top: 3% !important;
}

.css-148o527-ItemComponent {
  margin-top: 1%;
  padding: 8px 10px !important;
}

.slider {
  margin-bottom:  20px !important;
}

.slider-root {
  margin-top: 4%;
}

.slide-content {
  /* max-width: 50%; */
  /* margin-left: 4%; */
  /* margin-right: 4%; */
  left: 0% !important;
}

.carousel-caption {
  padding-bottom: 0px;
}

.carousel .slide {
  background: white;
}

.slideCarousel-description {
  font-size: calc(0.6em + 3vw);
  text-align: start;
  color: #333333;
}

.slideCarousel-url {
  font-size: calc(0.6em + 2vw);
  text-align: start;
}


.recetasCarousel-root {
  margin-right: 4%;
  margin-top: 4%;
}

.card-img-top {
  width: 100%;
  height: 35vw;
  max-height: 200px;
  object-fit: cover;
}

.title {
  margin-left: 4%;
  font-size: 125%;
  text-align: start;
}

.slideCarousel-title {
  max-width: 100%;
  height: 30%;
  margin-top: 15%;
  width: 45vw;
  font-family: MediumCond;
  font-size: calc(0.8em + 5vw);
  text-align: justify !important;
}

.card-root {
  height: 85vw;
  max-height: 30em;
  max-width: 275px;
  width: 75vw;
  display: inline-block;
}

.card {
  border: none;
  border-radius: 4px !important;	background-color: #FFFFFF;	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2) !important;
}

.receta-horizontal-card {
  height: 125px !important;
  margin-top: 3%;	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.08);
  margin-left: 4% !important;
  margin-right: 4% !important;
}

.card {
  height: 80vw;
  max-height: 320px;
  margin-left: 6%
}

.topbar-simulated-space {
  position: relative;
  height: 56px;
}

.categoria-root {
  max-width: 25em;
  border: none !important;
  height: 25vw;
  width: 25vw;
}

.receta-img {
  height: 35vh;
  width: 100%;
  object-fit: cover;
}

.receta-name {
  text-align: center;
}

.categoria-name {
  text-align: center;
  color: #9E9E9E;
  font-size: calc(0.5em + 0.5vw);
  margin-top: 0.2rem;
}

.card-categoria {
  font-size: calc(0.6em + 0.2vw);
}

.recetas-wrapper {
  height: 100%;
}

.home-elements {
  font-family: 'Cond';
  margin-bottom: 25vw;
}

.col {
  padding-right: 0rem;
  padding-left: 0rem;
  margin-left: 4vw;
}

.categoria-container {
  /* margin-top: 0.8rem;
  margin-bottom: 0.8rem; */
  border-radius: 3.6px;	background-color: #FFFFFF;	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14);
}

p {
  margin-bottom: 0rem;
}

.receta-lista {
  height: 100%;
  max-width: 23rem;
  object-fit: cover;

}

.receta-horizontal-card {
  height: auto !important;
}

.recetas-list-container {
  height: 80vh; 
}

.recetas-list {
  padding-bottom: 30%;
  margin-bottom: 0%;
}

.receta .receta-img {
  width: 100vw;
}

.receta {
  text-align: center;
}

.receta .receta-header {
  height: 35vw;
  max-height: 10em;
}

.receta-inline {
  font-size: 12px;
  padding-top: 4px;
  color: #9E9E9E;
}

.receta-content-card {
  border:none;
  border-radius: 0px;
  margin-left: 0%;
  margin-right: 0%;
}

.arrow {
  height: 3vw;
}

.receta-card-text {
  font-size: 10px;
  max-width: 30vw;
  text-align: left;
  font-family: Cond;
  line-height: 14px;
}

.receta-card-title {
  text-align: left;
  color: #AD9C7E;
  font-size: 18px;
}

.receta {
  border-radius: 0px;
}

.receta-card-category {
  color: #979797;
  letter-spacing: 0.5px;
  font-size: 11px;
  padding-top: 1px;
}

.search-container>div {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-left: 11px;
  padding-right: 11px;
}

.receta-card-body {
  padding: 0.45rem !important;
  padding-left: 0.9rem !important;
}

.login-body {
  height: 100vh;
}

.boton-link:hover {
  color: white;
  border-bottom: none !important;
  text-decoration: none;
}

.input-custom {
  border: none;
  width: 100%;
  border-radius: 0px !important;
  border-bottom: 1px solid #D0D0D0 !important;
  background: none;
}

.text-gray {
  color: #D0D0D0;
}

.form-container {
  max-width: 25em;
  min-width: 10em;
}

.text-link {
  border: none !important;
  border-bottom: 1px solid #3A8244 !important;
  color: #3A8244;
  font-family: MediumCond;
  line-height: 12px;
}

.text-link:hover {
  text-decoration: none;
  color: #3A8244 !important;
}

.text-link-gray {
  border: none !important;
  color: #979797;
  font-family: MediumCond;
  line-height: 12px;
}

.text-link-gray:hover {
  text-decoration: none !important;
  color: #979797 !important;
  border-bottom: none !important;
}

.text-link-green {
  border: none !important;
  color: #3a8244;
  font-family: MediumCond;
  line-height: 12px;
}

.text-link-green:hover {
  text-decoration: none !important;
  color: #3a8244 !important;
  border-bottom: none !important;
}

a {
  text-decoration: none !important;
}

.menu-wrapper--inner {
  margin-bottom: 4%;
}

.recetas-list-container>div>span{
  padding: 4px;
}

.menu-item-wrapper {
  padding-left: 10px;
  padding-top: 10px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.splash {
  height: 100vh;
  object-fit: cover; 
  width: 100%;
}